.form-group {
  margin-bottom: 15px;
}

.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.processo-card {
  background: #f8f9fa;
  padding: 15px;
  border-left: 5px solid #007bff;
  margin-bottom: 15px;
  border-radius: 5px;
}
.processo-detalhe{
  display: inline-flex;
  gap: 10px;
}

.subprocesso-card {
  background:var(--branco);
  padding: 15px;
  border-left: 5px solid var(--primary);
  margin-bottom: 15px;
  border-radius: 5px;
}
.subprocesso{
  background:var(--branco);
  padding: 20px ;
  font-size: 18px;
  border-radius: 20px;
}
.btn-toggle {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-toggle:hover {
  background: #0056b3;
}

.menu-sections{
  display: flex;
}
.btn-cadastro{
  background-color: #0275d8;
  color: white;
  font-weight: bold;
 
  bottom: 100px;
 
  transition: all 0.1s linear 0.1s;
 
  padding: 12px;
  border-radius: 20px;
font-size: 18px;


text-decoration: none;
display: flex;
justify-content: center;
}

.btn-cadastro:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho{
  display: inline-flex  ;
      gap: 10px;
      flex-direction: row-reverse;
}
.detalhes{
display: flex;
justify-content: space-between;
}
.detalhes-inferior{
  display: flex;
 flex-direction: column;
  }
/* .lado-esquerdo{
  display: flex;
  flex-direction: column;
} */